<style>
 h1{text-align:center;color:#6914ad;background-color:#0a0a0a}
</style>
<h1>Movies:</h1>
{% if movie_list %}
    <ul>
    {% for movie in movie_list %}
    <h2><a href="/movies/movie/{{movie.id}}"></a>>#{{movie.movie_name}}</a></h2>
    {% endfor %}
    </ul>
{% else %}
    <p>No movies are available.</p>
{% endif %}
<center>
<img src="https://play-lh.googleusercontent.com/Vee8sq_MaVZO9kvdqeo_c89r_l94Eth8WHdQS8SorRSigfeJ2CaA5h0iNXEt1I8GssQ=w240-h480-rw" width="300" height="300">
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/znTLzRJimeY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>  
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/N6tVdffCr_M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/PmfjureC-5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/ELeMaP8EPAA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</center>
